EnvType = $ENVTYPE

[FeatureFlags]
Flag = $FEATURE_FLAGS_FLAG

[Adapter.TCMB]
BaseURL = $TCMB_BASEURL
Timeout = $TCMB_TIMEOUT

[Adapter.XE.Auth]
AccountID = $XE_AUTH_ACCOUNTID
APIKey = $XE_AUTH_APIKEY

[Adapter.XE]
BaseURL = $XE_BASEURL
Timeout = $XE_TIMEOUT

[Logging]
Level = $LOGGING_LEVEL
Format = $LOGGING_FORMAT

[DB.Postgres]
Debug = $POSTGRES_DEBUG
URL = $POSTGRES_URL
Host = $POSTGRES_HOST
Port = $POSTGRES_PORT
Username = $POSTGRES_USERNAME
Password = $POSTGRES_PASSWORD
DBName = $POSTGRES_DBNAME
HasSSL = $POSTGRES_HASSSL
